.btn-number {
    font-size: 35px;
    border: 1px solid #212529;
    background-color: #f8f9fa;
    margin: 10px;
}

.times-item {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 5px;
}

.times-item.active {
    background: #dc3545;
}

.space{
    margin: 20px 0;
}